@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oleo+Script|Roboto|Courgette|Staatliches');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://images.unsplash.com/photo-1542831371-d531d36971e6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9") no-repeat;    
  background-size: cover;
  background-position: center;
  height: 100vh;
}
